set default=0
set timeout=5

insmod efi_gop
insmod efi_uga
insmod font
insmod gfxterm
insmod png

set gfxmode=auto
terminal_output gfxterm

# Colors
set menu_color_normal=white/black
set menu_color_highlight=black/cyan

menuentry "FluxWAN OS - Live Multi-WAN Router (Run from RAM)" {
    linux /boot/vmlinuz-lts modules=loop,squashfs,sd-mod,sr-mod,ata_piix,mptspi,vmw_pvscsi,virtio_blk,virtio_pci,virtio_scsi,virtio_net,e1000,e1000e,vmxnet3,r8169 modloop=/boot/modloop-lts quiet console=tty0 fluxwan_mode=live
    initrd /boot/initramfs-lts
}

menuentry "FluxWAN OS - Install to Hard Disk / SSD / NVMe / VM" {
    linux /boot/vmlinuz-lts modules=loop,squashfs,sd-mod,sr-mod,ata_piix,mptspi,vmw_pvscsi,virtio_blk,virtio_pci,virtio_scsi,virtio_net,e1000,e1000e,vmxnet3,r8169 modloop=/boot/modloop-lts quiet console=tty0 fluxwan_mode=install
    initrd /boot/initramfs-lts
}

menuentry "FluxWAN OS - Safe Mode (Generic VESA & SKB XDP)" {
    linux /boot/vmlinuz-lts modules=loop,squashfs,sd-mod,sr-mod modloop=/boot/modloop-lts nomodeset xdp_mode=generic quiet console=tty0
    initrd /boot/initramfs-lts
}

menuentry "Reboot System" {
    reboot
}
