DEFAULT fluxwan
TIMEOUT 50
PROMPT 1

UI menu.c32
MENU TITLE FluxWAN Carrier-Grade Multi-WAN Router Appliance

LABEL fluxwan
  MENU LABEL FluxWAN OS - Live Multi-WAN Router (Run from RAM)
  MENU DEFAULT
  LINUX /boot/vmlinuz-lts
  INITRD /boot/initramfs-lts
  APPEND modules=loop,squashfs,sd-mod,sr-mod,ata_piix,mptspi,vmw_pvscsi,virtio_blk,virtio_pci,virtio_scsi,virtio_net,e1000,e1000e,vmxnet3,r8169 modloop=/boot/modloop-lts quiet console=tty0 fluxwan_mode=live

LABEL install
  MENU LABEL FluxWAN OS - Install to Hard Disk / SSD / NVMe / VM
  LINUX /boot/vmlinuz-lts
  INITRD /boot/initramfs-lts
  APPEND modules=loop,squashfs,sd-mod,sr-mod,ata_piix,mptspi,vmw_pvscsi,virtio_blk,virtio_pci,virtio_scsi,virtio_net,e1000,e1000e,vmxnet3,r8169 modloop=/boot/modloop-lts quiet console=tty0 fluxwan_mode=install

LABEL safemode
  MENU LABEL FluxWAN OS - Safe Mode (Generic VESA & SKB XDP)
  LINUX /boot/vmlinuz-lts
  INITRD /boot/initramfs-lts
  APPEND modules=loop,squashfs,sd-mod,sr-mod modloop=/boot/modloop-lts nomodeset xdp_mode=generic quiet console=tty0

LABEL reboot
  MENU LABEL Reboot
  COM32 reboot.c32
